$top: 240px;
$top-media: 200px;

.mainLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@mixin arrowAnimation($topValue, $rightValue) {
  animation: arrowMoving 12s infinite;
  @keyframes arrowMoving {
    0% {
      top: 0;
      right: -2rem;
      transform: scale(1.0);
    }
  
    10% {
      top: 0;
      right: -1rem;
      transform: scale(1.0);
    }
  
    20% {
      top: 0;
      right: -1rem;
      transform: scale(0.7);
    }
  
    25% {
      top: 0;
      right: -1rem;
      transform: scale(1.0);
    }
  
    35% {
      top: 0;
      right: -2rem;
      transform: scale(1.0);
    }
  
    45% {
      top: $topValue;
      right: -2rem;
      transform: scale(1.0);
    }
  
    55% {
      top: $topValue;
      right: $rightValue;
      transform: scale(1.0);
    }
  
    65% {
      top: $topValue;
      right: $rightValue;
      transform: scale(0.7);
    }
  
    70% {
      top: $topValue;
      right: $rightValue;
      transform: scale(1.0);
    }
  
    80% {
      top: $topValue;
      right: $rightValue;
      transform: scale(1.0);
    }
  
    90% {
      top: $topValue;
      right: -2rem;
      transform: scale(1.0);
    }
  
    100% {
      top: 0;
      right: -2rem;
      transform: scale(1.0);
    }
  }
}

.headerLinks {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  position: relative;
  @media screen and (max-width: 420px) {
    .profileImage {
      width: 148px;
    }
    .nameBox {
      h1 {
        font-size: 1.5rem;
        margin-top: -3.5rem;
      }
    }
    .boxImage .box {
      width: 260px;
    }
  }
}

.nameBox {
  margin-top: 1rem;
  margin-bottom: 3rem;
  h1 {
    margin-top: -4.5rem;
  }
  @media screen and (max-width: 420px) {
    h1 {
      margin-top: -4rem !important;
    }
  }
}

.boxImage {
  display: inline;
  position: relative;
}

.arrowImage {
  width: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (max-width: 420px) {
    @include arrowAnimation(-180px, 50px);
  }
  @media screen and (min-width: 420px) {
    @include arrowAnimation(-240px, 120px);
  }
}


.links {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin: 2rem 0;
  padding: 0 2rem;
}

.link {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  border-radius: 0.5rem;
  padding: 1.5rem 4rem;
  font-weight: 600;
  box-shadow: 19.6198px 32.5433px 80px rgba(0, 0, 0, 0.14), 13.5909px 22.5431px 50.7988px rgba(0, 0, 0, 0.110204), 8.86609px 14.7061px 30.5539px rgba(0, 0, 0, 0.0902041), 5.30822px 8.8047px 17.4461px rgba(0, 0, 0, 0.0760816), 2.77995px 4.61108px 9.65598px rgba(0, 0, 0, 0.0639184), 1.14401px 1.89757px 5.36443px rgba(0, 0, 0, 0.0497959), 0.263123px 0.43644px 2.75219px rgba(0, 0, 0, 0.0297959);
  text-align: center;
  transition: all .4s;
  &:hover {
    transform: scale(1.05);
  }
}

.button {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem !important;
  max-width: 746px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin: 0 auto;
}